<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planify</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <form action= "/login" method="POST" class="bg-white p-8 rounded-2xl shadow-md w-full max-w-sm space-y-4">
        {{ csrfField() }}
        <h2 class="text-2xl font-bold text-center text-gray-800">Connexion</h2>
        
        <input 
            type="email" 
            name="email" 
            placeholder="Email" 
            required 
            class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        >

        <input 
            type="password" 
            name="password" 
            placeholder="Mot de passe" 
            required 
            class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        >

        <button 
            class="w-full bg-blue-900 text-white font-semibold py-2 rounded-xl "
        >
            Login
        </button>
        <a class="underline decoration-sky-500 font-semibold" href="/signupUser">Tu n'as pas un compte? créer un compte</a>
    </form>
    
</html>